menuentry "$menuname changes=/phb" {
	echo 'Loading ...'
	linux /live/vmlinuz1 \
	changes=/phb nvidia_detect noauto $nocd $from $extfw $mit $nvmedef
	initrd /live/initrd1.xz
}
menuentry "$menuname Copy2RAM changes=EXIT:/phb" {
	echo 'Loading ...'
	linux /live/vmlinuz1 \
	changes=EXIT:/phb copy2ram nvidia_detect noauto $nocd $from $extfw $mit $nvmedef
	initrd /live/initrd1.xz
}

if [ -f /live/dk5/vmlinuz1 ]; then
	menuentry "$menuname Old Kernel 5.10 changes=/phb" {
		echo 'Loading ...'
		linux /live/dk5/vmlinuz1 \
		changes=/phb nvidia_detect noauto $nocd $from $extfw\;/live/dk5 noload=k-6.1 $mit $nvmedef
		initrd /live/dk5/initrd1.xz
	}
	menuentry "$menuname Old Kernel 5.10 Copy2RAM changes=EXIT:/phb" {
		echo 'Loading ...'
		linux /live/dk5/vmlinuz1 \
		changes=EXIT:/phb copy2ram nvidia_detect noauto $nocd $from $extfw\;/live/dk5 noload=k-6.1 $mit $nvmedef
		initrd /live/dk5/initrd1.xz
	}
fi
