if [ -z "$vtoy_iso_part" ]; then
	loadfont unicode
	set menu_color_normal=white/black
	set menu_color_highlight=black/light-gray
	insmod all_video
	set timeout=30
fi

if [ -n "$vtoy_gfxmode" ]; then
	set gfxmode=$vtoy_gfxmode
	set gfxpayload=keep
else
	set gfxmode=1024x768
	set gfxpayload=keep
fi

if [ -n "$vtoy_theme" ]; then
	vt_set_theme
	terminal_output gfxterm
elif [ "$vtoy_display_mode" = "CLI" ]; then
	terminal_output console
elif [ -f $prefix/themes/ventoy/theme.txt ]; then
	set theme=$prefix/themes/ventoy/theme.txt
	terminal_output gfxterm
fi

set menuname='PocketHandyBox 64bit Linux'
set menuname32='PocketHandyBox 32bit Linux'
export menuname
export menuname32

if [ -n "$vtoy_iso_part" ]; then
	set nocd=nocd
	export nocd
	if [ -z "$vt_chosen_path" ]; then
		set root=$vtoy_iso_part
	fi
fi

set from="from=/"
set extfw="extramod=/live/firmware"
set mit="mitigations=off"
set nvmedef="nvme_core.default_ps_max_latency_us=5500"
export from
export extfw
export mit
export nvmedef

if [ ! -z "$vt_chosen_path" ]; then
	set from="from=$vt_chosen_path"
	export from
	vt_img_unhook_root
	vt_unset_boot_opt
fi

submenu "[$menuname]" {
	menuentry "$menuname" {
		echo 'Loading ...'
		linux /live/vmlinuz1 \
		nvidia_detect noauto $nocd $from $extfw $mit $nvmedef
		initrd /live/initrd1.xz
	}
	menuentry "$menuname Copy2RAM" {
		echo 'Loading ...'
		linux /live/vmlinuz1 \
		copy2ram nvidia_detect noauto $nocd $from $extfw $mit $nvmedef
		initrd /live/initrd1.xz
	}
	
	if [ -f /live/dk5/vmlinuz1 ]; then
	menuentry "$menuname Old Kernel 5.10" {
		echo 'Loading ...'
		linux /live/dk5/vmlinuz1 \
		nvidia_detect noauto $nocd $from $extfw\;/live/dk5 noload=k-6.1 $mit $nvmedef
		initrd /live/dk5/initrd1.xz
	}
	menuentry "$menuname Old Kernel 5.10 Copy2RAM" {
		echo 'Loading ...'
		linux /live/dk5/vmlinuz1 \
		copy2ram nvidia_detect noauto $nocd $from $extfw\;/live/dk5 noload=k-6.1 $mit $nvmedef
		initrd /live/dk5/initrd1.xz
	}
	fi
}

if [ -f /live32/live/vmlinuz1 ]; then
submenu "[$menuname32]" {
	menuentry "$menuname32" {
		echo 'Loading ...'
		linux /live32/live/vmlinuz1 \
		noauto $nocd from=/live32 $extfw $mit
		initrd /live32/live/initrd1.xz
	}
	menuentry "$menuname32 Copy2RAM" {
		echo 'Loading ...'
		linux /live32/live/vmlinuz1 \
		copy2ram noauto $nocd from=/live32 $extfw $mit
		initrd /live32/live/initrd1.xz
	}
}
fi
